html{
  scroll-behavior: smooth;
}


body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
}
/* #region header */
.header__top {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;

  background-image: url(img/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #endregion */
/* #region main */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;

  background: #e8eff9;
}
.menu_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
/* #endregion */
/* #region nav */

.nav{
  display: flex; /*выровнять по оси*/
  flex-direction: column; /* Выровнять в колонку */
  gap: 32px;
}

.nav__link{
  color:#292929;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* #endregion */
section {
  height: 800px;
}