html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}
/* #region header */
.header__top {
  display: flex;
  justify-content: space-between;
}
.header {
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;

  background-image: url(img/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #endregion */
/* #region menu */
.menu {
  position: fixed; /* зробили його позиціюнювання "fixed", щоб воно було на екрані при скролі сторінки */
  top: 0; /* вирівнюємо по верхньому лівому краю (початку координат)*/
  right: 0; /* */
  left: 0; /* */
  transform: translateX(-100%); /* пересуваємо (ховаємо) його ліворуч */
  transition: transform 500ms; /* робимо пересування плавним*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;

  background: #e8eff9;
}

.menu:target { /* працюємо з "menu" коли воно є активним (коли до нього посилаємось) */
  transform: translateX(0%);
}

.menu_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
/* #endregion */
/* #region nav */

.nav {
  display: flex; /*выровнять по оси*/
  flex-direction: column; /* Выровнять в колонку */
  gap: 32px;
}

.nav__link {
  color: #292929;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* #endregion */

/* #region main */
.recommended__title{
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 100%;
  font-weight: bold;
  color: #292929;

text-align: center;
letter-spacing: -1.5px;
}
.main{
  padding: 120px;
}



/* endregion */
